q			4.
inc			50.
porb			6372.
M1			0.7
periodsec		10.0

fullscreen		0
width			600
height			480
#width			175
#height			120
psname			Symbiotic.ps
clear			1
tiffname		pix/anim
scale           	1.
nstarfield		1000
annotate		0

paused          	0
frames          	40
framedphi       	0.025

orbphase        	0.4
phi0			0.9

hotspotphase		0.05
hotspotdphase2		0.1
hotspotradius		0.97
hotspotdradius		0.07

nthetadonor		100
nphidonor		100
limbadonor		0.1
limbbdonor		0.9
reddonor1		0.3
greendonor1		0.3
bluedonor1		1.0
reddonor2		0.1
greendonor2		0.1
bluedonor2		0.7
roughdonor		0.1
rfracdonor		0.9
rwinddonor		1.4
redwinddonor		0.9
greenwinddonor		1.0
bluewinddonor		0.9
opwinddonor		0.65
cutwawaydonor		0
redirrdonor		1.
greenirrdonor		1.
blueirrdonor		1.
intirrdonor		0.04
flareirrdonor		10.
dflareirrdonor		5.

nthetaaccretor		100
nphiaccretor		100
limbaaccretor		0.5
limbbaccretor		0.5
redaccretor1		0.4
greenaccretor1		0.4
blueaccretor1		0.5
redaccretor2		0.2
greenaccretor2		0.2
blueaccretor2		0.3
roughaccretor		0.1
rfracaccretor		0.02
rwindaccretor		0.2
redwindaccretor		0.9
greenwindaccretor	1.0
bluewindaccretor	0.9
opwindaccretor		0.3
cutwawayaccretor	0
redirraccretor		1.
greenirraccretor	1.
blueirraccretor		1.
intirraccretor		0.
flareirraccretor	10.
dflareirraccretor	1.

nrdisc			100
nphidisc		50
reddisc1		0.4
greendisc1		0.4
bluedisc1		0.5
reddisc2		0.8
greendisc2		0.05
bluedisc2		0.05
opdisc1			0.7
opdisc2			0.
adisc			0.1
discradius1		0.01
h			0.005
e			0.
epsilon			0.

nzjet                   100
nphijet                 30
redjet1                 1.
greenjet1               1.
bluejet1                0.3
redjet2                 0.9
greenjet2               0.2
bluejet2                0.9
opjet1                  0.3
opjet2                  0.1
lengthjet               3.
rjet                    0.03

stream			0
nstream			200
redstream1		1.
greenstream1		0.7
bluestream1		0.5
redstream2		1
greenstream2		0.2
bluestream2		0.2
limbastream		1.
limbbstream		0.
pb			27.
k0			0.
tstream			0.35
rstream1		0.01
rstream2		0.025
