q			0.14
inc			56.5
porb			6372.
M1			0.7
periodsec		10.0

fullscreen		0
width			600
height			450
psname			IYUMa.ps
clear			1
tiffname		pix/IYUMaanim
scale           	1.4
nstarfield		1000

annotate		0

paused          	0
frames          	200
framedphi       	0.005

orbphase        	0.458
phi0			0.9

hotspotphase		0.05
hotspotdphase2		0.1
hotspotradius		0.97
hotspotdradius		0.2
#redhotspot		1.
#greenhotspot		0.
#bluehotspot		0.
spotatmos		1.

nthetadonor		100
nphidonor		100
limbadonor		0.25
limbbdonor		0.75
reddonor1       	0.9
greendonor1     	0.5
bluedonor1      	0.3
reddonor2       	0.6
greendonor2     	0.2
bluedonor2      	0.1
roughdonor		0.05
rfracdonor		1.
rwinddonor		0.
redwinddonor		0.9
greenwinddonor		1.0
bluewinddonor		0.9
opwinddonor		0.5
cutwawaydonor		0
redirrdonor		1.
greenirrdonor		1.
blueirrdonor		1.
intirrdonor		0.
flareirrdonor		3.
dflareirrdonor		1.

nthetaaccretor		100
nphiaccretor		100
limbaaccretor		0.15
limbbaccretor		0.85
redaccretor1		0.3
greenaccretor1		0.3
blueaccretor1		1.0
redaccretor2		0.2
greenaccretor2		0.2
blueaccretor2		1.0
roughaccretor		0.1
rfracaccretor		0.02
rwindaccretor		0.085
redwindaccretor		0.9
greenwindaccretor	1.0
bluewindaccretor	0.9
opwindaccretor		0.5
cutwawayaccretor	0
redirraccretor		1.
greenirraccretor	1.
blueirraccretor		1.
intirraccretor		0.
flareirraccretor	10.
dflareirraccretor	1.

nrdisc			100
nphidisc		50
reddisc1		0.4
greendisc1		0.4
bluedisc1		0.5
reddisc2		0.8
greendisc2		0.05
bluedisc2		0.05
opdisc1			0.7
opdisc2			0.2
adisc			0.34
discradius1		0.03
h			0.01
e			0.
epsilon			0.

stream			1
nstream			200
redstream1		1.
greenstream1		0.7
bluestream1		0.5
redstream2		1
greenstream2		0.2
bluestream2		0.4
limbastream		1.
limbbstream		0.
pb			27.
k0			0.
tstream			0.35
rstream1		0.01
rstream2		0.025
