q		0.64
inc		60.
discradius1	0.1
adisc		0.
h		0.01
e		0.
phi0		0.
epsilon		0.1

porb		35640.
pb		33.
k0		1e-6
rwind		0

tstream		2
rstream1	0.01
rstream2	0.02
M1		0.7
nstream		300
periodsec	10.0

epsname		test.ps
discphase	0.0
orbphase        0.4
scale           1.

nthetadonor	100
nphidonor	100
nrdisc		100
nphidisc	30
limba		0.2
limbb		0.8

rfracaccretor	0.1

reddonor1	0.9
greendonor1	0.9
bluedonor1	0.
reddonor2	0.9
greendonor2	0.5
bluedonor2	0.
roughdonor	0.1

#reddisc1	1..
#greendisc1	1.
#bluedisc1	1.
#reddisc2	1.
#greendisc2	0.
#bluedisc2	0.

redstream1	0.9
greenstream1	0.5
bluestream1	0.
#redstream2	0.9
#greenstream2	0.9
#bluestream2	0.5

