q		0.3
discradius1	0.03
inc		70
adisc		0.38
h		0.01
e		0.
epsilon		0.

porb		14040.
pb		27.
k0		0.

tstream		0.35
rstream1	0.01
rstream2	0.025
M1		0.67
nstream		200
periodsec	10.0


teapot		1
frames		40
framedphi	0.025
paused          0
fullscreen	0
width		500
height		240
clear		1
tiffname	frames/teapot
scale           1.18
nstarfield	0

orbphase        0.45
phi0		0.3

hotspotphase	0.05
hotspotdphase2	0.1
hotspotradius	0.97
hotspotdradius	0.07
roughdonor	0.1
nphidonor	100
nthetadonor	100
nrdisc		100
nphidisc	50
rcomp		0.01
rwind		0.
opwind		0.5
compatmos	10

limba		0.35
limbb		0.65

reddonor1	0.9
greendonor1	0.5
bluedonor1	0.3
reddonor2	0.6
greendonor2	0.2
bluedonor2	0.1
roughdonor	0.0

reddisc1	0.8
greendisc1	0.8
bluedisc1	1.
reddisc2	0.8
greendisc2	0.1
bluedisc2	0.1

redstream1	1.
greenstream1	0.7
bluestream1	0.5
redstream2	1
greenstream2	0.2
bluestream2	0.2
