q		0.31
discradius1	0.03
inc		0
#inc		65
adisc		0.37
h		0.01
e		0.
phi0		0.59
epsilon		0.1

porb		8784.
pb		27.
k0		0.

tstream		0.35
rstream1	0.015
rstream2	0.01
M1		0.7
nstream		200
periodsec	10.0

paused          1
fullscreen	0
width		500
height		500
epsname		pup1.ps
clear		1
tiffname	V348Pup.tiff
scale           1
nstarfield	6000
#frames		50
#framedphi	0.02

discphase	0.
orbphase        0.6

hotspotphase	0.05
hotspotradius	0.97
hotspotdradius	0.05
roughdonor	0.1
nphidonor	100
nthetadonor	100
nrdisc		50
nphidisc	50
rcomp		0.01
rwind		0.5
opwind		0.2

reddonor1	0.9
greendonor1	0.6
bluedonor1	0.3
reddonor2	0.8
greendonor2	0.3
bluedonor2	0.15
roughdonor	0.0

reddisc1	0.8
greendisc1	0.8
bluedisc1	1.
reddisc2	0.8
greendisc2	0.1
bluedisc2	0.1

redstream1	1
greenstream1	0.65
bluestream1	0.55
redstream2	1
greenstream2	0.9
bluestream2	0.2
